---
title: "My Awesome Blog y la arquitectura de astro"
---
<html lang="es">
<head>
    <astro-head>
        <title>Miblog</title>
    </astro-head>
</head>

<body>
    <astro-content>
        <h1>Welcome to my blog!</h1>
        <p>This is my first blog post. Stay tuned for more exciting content!</p>
        <nav>
            <a href="/">Home</a>
            <a href="/about">About</a>
            <a href="/blog">blog</a>
        </nav>
    </astro-content>
</body>

</html>